@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

header{
    background-color: aqua;
}
.logoImagen{
    position: relative;
    left: 5%;
    height: 80px;
    width: 140px;
}
.titulo{
    display: inline-block;
    position: relative;
    left: 37%;
    top: -20px;
    font-size: 35px;
    font-family: 'Pacifico', cursive;
}
.titulo::after,.titulo::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top:0.4em;
    transform: scale(0);
    transition: all 0.3s ease-in;
}
.titulo:hover::before,.titulo:hover::after{
    transform: scale(1);
}
.titulo::before{
    left: -140px;
    

}
.titulo::after{
    right: -140px;
}
.parrafo{
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}
.btn{
    position: relative;
    top: 150px;
    left: 43%;
    width: 200px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.btn:hover{
      background-color: #555555;
      color: white;
      border: 2px solid #555555;
      border-radius: 8px;
}



footer{
    position: relative;
    top:332px;
    text-align: center;
    background-color: aqua;
    padding: 40px; 
}
.autores{
    font-size: 12px;
    font-family: 'Pacifico', cursive;
}

.logoFooter{
    width: 140px;
}